*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common css */
img {
    width: 100%;
}
.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}
.display_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    padding: 15px  25px; 
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    margin: 32px 0 160px  0;
}
ul {
    list-style-type: none;
}
i{
    color: green
}
.section_heading {
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}
.align_center {
    text-align: center;
}
/* main css */
header{
        background: url(images/banner/banner2.png);
        background-repeat: no-repeat;
        background-size: cover;
}
.banner{
    width: 71%;
    max-width: 1600px;
    margin-left: auto;
}
.banner .banner_content {
   width: 525px;
   text-align: right;
   padding: 115px 0 0 0;
}
.banner .banner_heading{
    font-size: 35px;
    font-weight: bold;
    color: #151414;
}
.banner .banner_info{
    padding: 24px 0 0 31px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300px;
    color:#444343
}
#profile,#poster,.footer_content{
    width: 67%;
    max-width: 1072px;
    margin: 0 auto;
}
#profile .profile_container{
    gap: 87px;
}
#profile .profile_img img{
    width: 415px;   
}
#profile .experience{
    width: 416px;
}
.experience .profile_details{
    font-size: 16px;
    font-weight: 200px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}
.experience  ul li {
    font-size: 16px;
    line-height: 26px;
    color:#444343;
}
.card_container{
    gap: 40px;
}
.card_container img {
    width: 62px;
}
.card_container .card_heading{
    font-size: 20px;
    font-weight: bold;
    color: #151414;
    margin-top: 20px;
}
.card_container .card_title{
    margin-top: 16px ;
    font-size: 16px;
    font-weight: 300px;
    color: #737272;
    margin-bottom: 124px;
}
.poster_container{
    background-image: url(images/gradient2.png),url(images/watch.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    background-size: contain;
   padding-left: 59px  ; 
   /* padding-right: 59px; */
}
.poster_container .poster_heading{
    padding: 60px 0 0 65px;
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;

}
#poster .btn{
background-color: #fff;
color: #F15B22;
padding: 15px 25px;
font-weight: 600;
  margin: 0 0 79px 30px;
  
}
.footer_content{
    background-color: #151414;
    gap: 30px;
}
.footer_info{
    margin: 50px 0 0 130px;
    width: 485px;
}
 .footer_content p{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 24px;
 }
 .footer_info img{
    width: 25px;
    margin: 0 12px 130px 0;
 }
 .caption{
    color: #fff;
    font-size: 25px;
    margin-bottom: 30px;
 }
 .form{
    margin-right: 50px;
 }
 form input[type="email"] {
    padding: 21px;
    background-color: #151414;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 16px;
    color: #fff;
    margin-right: 10px;
 }
 form input::placeholder{
    font-size: 18px;
    color: #F3F3F3;
 }
 form input[type="submit"]{
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 600px;
    color: #F15B22;
    border-radius: 8px;
    border: none;
 }