*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common css */

.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}
.display_flex{
    display: flex;
    align-items: center;
}
.btn{
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    padding: 15px  25px; 
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    margin: 32px 0 160px  0;
}
/* main css */
header{
        background: url(images/banner/banner2.png);
        background-repeat: no-repeat;
        background-size: cover;
}
.banner{
    width: 71%;
    max-width: 1600px;
    margin-left: auto;
}
.banner .banner_content {
   width: 525px;
   text-align: right;
   padding: 115px 0 0 0;
}
.banner .banner_heading{
    font-size: 35px;
    font-weight: bold;
    color: #151414;
}
.banner .banner_info{
    padding: 24px 0 0 31px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300px;
    color:#444343
}